#charts {
    display: grid;
    width: 70vh;
    grid-template-areas: 
    "te  sb"
    "ss  ca"
}

#topEmployees {
    grid-area: te;
    align-self: center;
    margin-left: 4%;
    padding-right: 4%
}

#salesSince {
    grid-area: ss;
    align-self: center;
    margin-left: 4%;

}

#salesByX { 
    grid-area: sb;
    align-self: center;
}

#clientAcquisition {
    grid-area: ca;
    margin-bottom: 3%;
    margin-left: 25%;
    align-self: center;
}