#client {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr 2fr 2fr;
    font-size: 80%;
    -webkit-box-shadow: 1px 0px 5px 2px #A3A3A3; 
    box-shadow: 1px 0px 5px 2px #A3A3A3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin : 1% ;
    
}

.clientRow {
    display: grid;
    padding: 5%;
    justify-self: left ;
    justify-content: center;
    align-self: center ;
}

.firstContact {
  
    align-self: center ;
}
