#client {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr 1fr 2fr 2fr;
    font-size: 60%;
    -webkit-box-shadow: 1px 0px 5px 2px #A3A3A3; 
    box-shadow: 1px 0px 5px 2px #A3A3A3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin : 1% ;
    
}

.clientRow {
    width: 6%;
    justify-self: left ;
    align-self: center ;
}

.firstContact {
    width: 80%;
    justify-self: center ;
    align-self: center ;
}
