#popUp {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    height: 30vh;
    width: 50vh;
    background-color: #ad4444;
    font-family: 'Montserrat', sans-serif;
    color : white ;
    position: fixed;
    width: 40%;
    height: 40%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color:black;
    opacity: 0.95;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

input {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(104, 106, 109);
}

#name, #surName, #country {
    color : white ;
}
.inputField {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.updateBtn {

    display: grid;
    width: 50%;
    margin-top: 15px;
    color: black ;
    justify-self: center;
    justify-content: center ;
    align-content: center;
    align-self: center ; 
    background-color: #f9ca24;
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px 10px 10px 10px;

}