#searchBar {
    display: grid ;
    grid-template-columns: 1fr 1fr 8fr;
    margin-top: 2% ;
    margin-bottom: 2%;
    justify-content: center ;
    justify-self: center ;
    align-content: center ;
    align-self: center ;
   
}

#pagination {
     justify-self: right ;
     margin-right: 5%;
     margin-top: 1%;
}

input {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(127, 127, 128);
    color : black ;
    margin-left: 3%;
}

select {
    font-family: 'Montserrat', sans-serif;
    /* align-self: center; */
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(127, 127, 128);
    color : black ;

}